@import "../core/variables.scss";

.projects_filter {
  margin: 30px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: bold;
  display: flex;
  @media all and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
  &_icon {
    &:hover {
      filter: drop-shadow(1px 1px 6px black);
    }
  }
}
.filter_tags_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media all and (min-width: 768px) {
    flex-wrap: nowrap;
    display: inline-block;
  }
}
label {
  padding: 10px;
  &:hover {
    color: white;
  }
}
.hidden {
  display: none;
}

.slide-animation {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  @media all and (min-width: 768px) {
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30px);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}
