@import "../core/variables.scss";

.header {
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
  font-size: 30px;
  font-family: $title_fonts2;
  @media all and (max-width: 768px) {
    font-size: 20px;
    padding: 10px;
    align-items: flex-start;
  }
  &_links_list {
    display: flex;
    flex-direction: row;
    @media all and (max-width: 768px) {
      flex-direction: column;
      display: none;
    }
  }
  &_link {
    margin: 0 10px 0 10px;
    @media all and (max-width: 768px) {
      margin: 10px 10px 10px 10px;
    }
  }
  .header_nav_small {
    .header_links_list {
      display: flex;
      flex-direction: column;
      .header_link {
        margin: 10px 10px 10px 10px;
      }
    }
  }
  .burger_menu {
    visibility: hidden;
    @media all and (max-width: 768px) {
      visibility: visible;
    }
  }
}

.hidden {
  display: none;
}
