@import "../core/variables.scss";

.header {
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
  font-size: 30px;
  font-family: $title_fonts2;
  &_links_list {
    display: flex;
    flex-direction: row;
  }
  &_link {
    margin: 0 10px 0 10px;
  }
}
