@import "../core/reset.scss";

.landing_page {
  height: 100vh;
  background-image: url("../../images/watercolor_bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .button_sparkles {
    position: relative;
    top: 50px;
    // .sparkles {
    //   color: #ffc0cb;
    // }
  }
  &_button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: cadetblue;
    margin-top: 30px;
  }
}
