// @import "../core/reset.scss";
@import "../core/variables.scss";

.landing_page {
  height: 100vh;
  background-image: url("../../images/watercolor_bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $title_fonts2;
  &_title {
    margin: 10px;
    font-size: 3rem;
  }
  &_subtitle {
    font-size: 2rem;
  }
  .button_sparkles {
    position: relative;
    top: 50px;
  }
  &_button {
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: cadetblue;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 140px;
    height: 40px;
    display: inline-block;
    &:hover {
      transform: scale(1.2);
      background-color: hotpink;
    }
  }
}
