@import "../core/variables.scss";

.main {
  min-height: 70%;
  padding: 20px;
  .about_me {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
      font-size: 25px;
      font-family: $title_fonts2;
      font-weight: bold;
    }
    &_content {
      font-family: "Zen Kaku Gothic Antique", sans-serif;
      line-height: 1.5rem;
      padding: 10px 0 25px 0;
    }
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_title {
      font-size: 25px;
      font-family: $title_fonts2;
      font-weight: bold;
    }
    &_list {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      @media all and (max-width: 375px) {
        flex-wrap: nowrap;
        flex-direction: column;
      }
    }
  }
  .list_item {
    width: 30%;
    @media all and (max-width: 768px) {
      width: 45%;
    }
    @media all and (max-width: 500px) {
      width: 100%;
    }
  }
  .tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_title {
      font-size: 25px;
      font-family: $title_fonts2;
      font-weight: bold;
    }
    &_list {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 40px;
      padding: 10px;
    }
    &_icon {
      margin: 10px;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_title {
      font-size: 25px;
      font-family: $title_fonts2;
      font-weight: bold;
    }
    &_form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .cv_pdf {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_title {
      font-size: 25px;
      font-family: $title_fonts2;
      font-weight: bold;
    }
  }
}
