@import "../core/variables.scss";

.projects {
  &_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media all and (max-width: 375px) {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
}
.list_item {
  width: 30%;
  @media all and (max-width: 768px) {
    width: 45%;
  }
  @media all and (max-width: 500px) {
    width: 100%;
  }
}
