// Fonts
$title_fonts1: "Amatic SC", cursive;
$title_fonts2: "Poiret One", cursive;
$text_font: "Zen Kaku Gothic Antique", sans-serif;
$form_font: monospace;

// Colors
$page_main_color: midnightblue;
$header_links_color: white;
$links_color: #551a8b;
$color_accents: hotpink;
