// Fonts
$title_fonts1: "Amatic SC", cursive;
$title_fonts2: "Poiret One", cursive;
$text_font: "Zen Kaku Gothic Antique", sans-serif;

// Colors
$page_main_color: midnightblue;
$links_color: white;
$color_accents: hotpink;
