@import "./reset.css";

.landing_page {
  height: 100vh;
  background-image: url("../images/watercolor_bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
}
