@import "./core/reset.scss";
@import "./core/variables.scss";

.homepage {
  height: 100%;
  // background: rgb(171, 221, 209);
  // background: linear-gradient(
  //   0deg,
  //   rgba(171, 221, 209, 1) 0%,
  //   rgba(217, 189, 215, 1) 100%
  // );
  // background: rgb(188, 246, 211);
  // background: linear-gradient(
  //   0deg,
  //   rgba(188, 246, 211, 1) 0%,
  //   rgba(212, 206, 251, 1) 100%
  // );
  // background-color: #aaddd1;
  background: rgb(171, 221, 209);
  background: linear-gradient(
    0deg,
    rgba(171, 221, 209, 1) 10%,
    rgba(217, 189, 215, 1) 83%
  );
  background-color: #a950f1;
  background-image: linear-gradient(
    211deg,
    #a950f1 0%,
    #8bb4fb 24%,
    #d1bbff 49%,
    #ffbbec 75%,
    #e258ba 100%
  );
  // background-color: #00ffca;
  // background-image: linear-gradient(
  //   31deg,
  //   #00ffca 0%,
  //   #74ebd5 33%,
  //   #b6c2f1 66%,
  //   #9face6 100%
  // );
  // background-color: #ff3cac;
  // background-image: linear-gradient(
  //   29deg,
  //   #ff3cac 0%,
  //   #784ba0 24%,
  //   #2b8ed6 49%,
  //   #045a98 75%,
  //   #053758 100%
  // );
  color: $page_main_color;
}
